div {
  background-color: #ccc;
  width: 250px;
  height: 200px;
  margin: 10px;
  border-radius: 5px;
  float: left;
}

.box1 {
  /* box-shadow: x이동거리 y축이동거리 퍼짐정도 색상; */
  box-shadow: 5px 5px 10px rgba(61, 59, 59, 0.788);
}

.box2 {
  box-shadow: 0px 0px 20px dodgerblue;
}

.box3 {
  box-shadow: 10px 10px 0 crimson;
}

.box4 {
  box-shadow: inset 0 0 20px black;
}

.box5 {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.9);
}