a {
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color:#000;
  width: 80px;
  background-color: #ddd;
}

.box {
  text-align: center;
  line-height: 260px;
  margin-top: 10px;
  background-color: dodgerblue;
  width: 260px;
  height: 260px;
}

.active {
  border: 1px solid red;
}