.parent {
  border: 5px solid red;
  width: 600px;
}

.top {
  background-color: purple;
  height: 50px;
  /* float: left; */

}

.left {
  background-color: gray;
  height: 100px;
  width: 200px;
  float: left;
  /* clear: both; */
}

.right {
  background-color: orange;
  height: 100px;
  width: 400px;
  /* float: right; */
}

.clear {
  background-color: purple;
  height: 50px;
  /* clear: both; */
}