.parent {
  border: 5px solid red;
  width: 600px;
  overflow: hidden;
  text-align: center;
  /* height: 400px; */
}

.child {
  background-color: gold;
  width: 200px;
  height: 200px;
  /* float: left; */
  display: inline;
  /* margin: auto */
}