body {
  color: #000
}

a {
  color: #000;
  text-decoration: none;
  border: 1px solid red;
  /* width: 400px; */
  /* height: 400px;
  margin: 50px; */
}

div {
  border: 1px solid black;
  height: 100px;
  margin: 50px;
}

img {
  border: 1px solid red;
  margin: 50px;
  width: 100px;
  height: 100px;
}

.changeEl {
  color: #000;
  border: 1px solid #ddd;
  display: inline-block;
  text-decoration: none;
  margin: 5px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
}