
.tab-inner {
  width: 400px;
}

.btn span {
  background-color: #ddd;
  width: 120px;
  display: inline-block;
  text-align: center;
  padding: 5px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  margin-right: -5px;
}

.btn span:first-child {
  background-color: #fff;
}

.btn span:last-child {
  color: red;
}

.tab {
  border: 1px solid black
}

.tab a {
  display: block;
  border-bottom: 1px solid black;
  text-decoration: none;
  color:#333;
}

.tab a:last-child {
  border-bottom: none;
}